* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


/* #main {} */

.text-white {
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}
.pull-right{
    float: right !important;
}
.mt-8{
    margin-top: 8px!important;
}

.mt-16{
    margin-top: 16px!important;
}
.mt-32{
    margin-top: 32px!important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;

}
.row::after{
    content:"";
    display: block;
    clear: both;
}
.col{
    float:left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third{
    width: 33.3333%;
}
.col-full{
    width: 100%;
}
.col-half{
    width: 50%;
}

.clear {
    clear: both;
}

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

#nav>li {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    /* hover li lop con .subnav*/
    display: block;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    /* an di subnav*/
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav li:hover {
    color: black;
    background-color: #ccc;
}

#nav .subnav a {
    color: black;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;

}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav>li:hover>a {
    color: black;
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 14px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    color: #fff;
    background-color: #f44336;
    cursor: pointer;
}
#header .mobile-menu-btn:hover {
    background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon{
    background-color: #000;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#nav {
    display: inline-block;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slide_1/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 1px #000;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
}

/* #content {} */

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;
}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    margin: 15px;
    font-style: italic;
}

#content .about-text {
    text-align: justify;
    margin: 15px;
    font-size: 15px;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32px;
}

 

#content .member-name {
    font-size: 15px;

}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color: black;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quanlity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
    list-style-type: none;

}

.places-list {
    margin-top: 16px;
}

.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    font-size: 15px;
    padding: 16px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-decription {
    margin-top: 15px;
    line-height: 1.4;
}

.btn {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 3px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

.contact {
    padding: 32px;
}

.contact li {
    list-style-type: none;
}

.contact-icon {
    padding-right: 20px;

}

/* .contact-list {} */

.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]
{
    width: 30px;
    display: inline-block;
}
.contact-info a {
    color: #000eee;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}
.contact-form{
    font-size: 15px;
}
.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    align-items: center;
    text-align: center;
}
#footer .social-list{
    font-size: 24px;
}
#footer  .social-list  a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright{
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color:rgba(0, 0, 0, 0.6) ;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    animation: modalFadeIn ease .3s;
}


.modal.open {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.modal-heading-icon {
    padding-right: 16px;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    padding: 16px;
    color: #fff;
    opacity: 0.8;
}

.modal-container .modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
    margin-top: 5px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}

#buy-tickets:hover {
    opacity: 0.9;
}

#buy-tickets {
    width: 100%;
    padding: 18px;
    background: #009688;
    border: none;
    margin-top: -15px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.modal-help {
    padding: 16px;
    text-align: right;
}

.modal-help a {
    color: blue;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
